{{! app/templates/login.hbs }}
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>

<h2>-- OR --</h2>
<button {{action "providerLogin" "facebook-oauth2"}}>Login With Facebook</button>

<h2>-- OR --</h2>
{{#link-to "signup"}}Signup{{/link-to}}